
#logo {
height: 60px;
width: auto;
}
#welcome {
  color: black;
}

#nice-to-meet-you {
}

.row.text-center.only2 {
}

.col-md-4.only2 {
}

.col-md-4.only2 {
  margin: auto;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: white;
}

@media (min-width:992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
    background-color: #F56A79;
    background: linear-gradient(to top ,#002D40,#F56A79);
  }
}

img, svg {
  vertical-align: middle;
}

.img-fluid, .img-thumbnail {
  max-width: 100%;
  height: auto;
}

.col-sm-4.only2 {
  margin: auto;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #212529;
  background-color: #fec503;
  border-color: #f3bd01;
}

a:hover {
  color: #F56A78;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.text-primary {
  color: transparent!important;
  background: linear-gradient(to top,#002D40,#F56A79);
  -webkit-background-clip: text;
}

@media (min-width:1200px) {
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
}

@media (min-width:992px) {
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
}

@media (min-width:992px) {
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
}

@media (min-width:992px) {
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
}

@media (min-width:1200px) {
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: #fff;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #1AA687;
}

@media (min-width:768px) {
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
}

@media (min-width:1200px) {
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
}

@media (min-width:992px) {
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #002D39!important;
  border-color: #fec810!important;
  color: #fff;
}

.btn-primary {
  color: #fff;
  background-color: #F56A79;
  border-color: #fed136;
}

